/* ? Foundation (Typography,
/* * Atoms Single Elements (Buttons,...) */
/* ^ Blocks & Elements (Footer,Nav,...)

/* ? Browser Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* ? CSS Variables */
:root {

  /* Color */
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-tertiary: #ededed;
  --color-queriary: #b5b5b5;

  --color-text-lght: #000000;
  --color-text-drk: #FFFFFF;
  
  /* Typography */
  --font-primary: 'SF Pro Display', '-apple-system', 'BlinkMacSystemFont', 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Roboto', 'Noto', 'Segoe UI', 'Arial', sans-serif;

  /* Spacing */
  --spacing-none: 0;
  --spacing-xxs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1rem;

  /* Radius */
  --radius-xs: .5rem;
  --radius-sm: 1rem;
  --radius-lg: 2rem;

}

h1,h2,h3,h4,h5,h6 {
    
}

p {
    
}

/* ? Body Base Styling */
body {
    font-family: var(--font-primary);
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

/* Basic Nav Styling */
nav {

}

/* Custom Nav Styling */
.nav {
    text-transform: uppercase;

    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
    border-bottom: .5px var(--color-primary) solid;

   
        a {
            color: var(--color-primary);
            text-decoration: none;
        }

    ul {

    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--color-primary);
    }
    }

}

/* * Buttons */

.button-primary {
    color: var(--color-text-lght);
    border-radius: var(--radius-lg);
    border: .5px solid;
    text-decoration: none;
    padding: var(--spacing-xxs);
    text-transform: uppercase;
}

.button-secondary {
    color: var(--color-text-lght);
}

/* ^ Searchbar */

#search-box {
    padding: var(--spacing-xxs);
}

.searchbar {

    padding: var(--spacing-xs);
    border-bottom: .5px var(--color-primary) solid;

    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
        border-radius: 1rem;
    }

    select {
        border-radius: 1rem;
    }
}

.searchbar__search-container {
    display: flex;
    flex-direction: row;
}

.tag {
    background-color: var(--color-primary);
    color: var(--color-text-drk);
    border-radius: 1rem;
    padding: var(--spacing-xxs);
}


/* ^ Accordion */

.accordion {
    width: 100%;
    border-bottom: .5px solid var(--color-text-lght);
}

.accordion-content {
    height: auto;
    overflow: hidden;

    padding: var(--spacing-xs);

    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-content__left {
    display: flex;
    flex-direction: row;
    max-width: 20%;
    gap: var(--spacing-xs);
}

.accoridon-content__right {
    display: flex;
    flex-direction: row;
    max-width: 20%;
    gap: var(--spacing-xs);
}

.accordion-title {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid var(--color-text-lght);
}

.accordion__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);

    ul {
        li {
            list-style: none;
        }
    }
}

#selection {
    position: fixed;
    font-size: 4rem;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#scroll-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#scroll-wrapper>div {
    width: 100%;
    flex: none;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


#theses-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    background-color: #fff
}

#graduates-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    background-color: #fff;
}

#spacer {
    user-select: none;
    pointer-events: none;
}

.row-wrapper {
    width: 100%;
    display: grid;
    justify-content: start;
    grid-template-columns: 5% 3fr 1fr 5%;
}

.row-wrapper>* {
    padding-left: 1rem;
}

@media print {
    .row-wrapper {
        width: 70%;
    }

}