/* ! To Do */

/* 
– transition auf den einzelen textelementen innerhalb des akkordions ausschalten

*/




/* ? Foundation (Typography,
/* * Atoms Single Elements (Buttons,...) */
/* ^ Blocks & Elements (Footer,Nav,...)

/* ? Browser Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* ? CSS Variables */
:root {

  /* Color */
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-DevMode: rgb(121, 44, 255);

  
  /* Typography */
  --font-primary: 'SF Pro Display', '-apple-system', 'BlinkMacSystemFont', 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Roboto', 'Noto', 'Segoe UI', 'Arial', sans-serif;

  /* Accordion Content Height */
  --contentMaxHeight: 29rem;
  --contentMaxHeightInner:calc(var(--contentMaxHeight) * 0.79);


  /* Spacing */
  --spacing-none: 0;
  --spacing-xxs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;

  /* Radius */
  --radius-xs: .5rem;
  --radius-sm: 1rem;
  --radius-lg: 2rem;

  /* Font Sizes */
  --font-sm:.75vw;
  --font-md: 1vw;
  --font-lg: 1.3vw;

}

h1,h2,h3,h4,h5,h6 {
    font-size: var(--font-md);
    text-decoration: none;
    font-weight: normal;
    margin: 0;
}


p {
    font-size: var(--font-md);
}

li {
    list-style: none;
}

a{
    color: var(--color-primary);
    cursor: pointer;
}

/* ? Body Base Styling */
body {
    font-family: var(--font-primary);
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

/* Basic Nav Styling */
    /* nav {

    } */

/* Custom Nav Styling */
.nav {
    text-transform: uppercase;
    font-size: var(--font-md);

    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-xs);
    border-bottom: 1px var(--color-primary) solid;

        a {
            color: var(--color-primary);
            text-decoration: none;
        }

    ul {

        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            color: var(--color-primary);
    }
    }

}


/* * Buttons */

.button-primary {
    width: fit-content;
    height: fit-content;
    color: var(--color-primary);
    border-radius: var(--radius-lg);
    border: 1px solid;
    text-decoration: none;
    padding: var(--spacing-xxs);
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.button-secondary {
    color: var(--color-secondary);
    cursor: pointer;
}

.button-extraSpacing{
padding-left: var(--spacing-xs);
padding-right: var(--spacing-xs);
}



/* ^ Searchbar */

#search-box {
    padding: var(--spacing-xxs);
}

.searchbar {

    padding: var(--spacing-xs);
    border-bottom: 1px var(--color-primary) solid;

    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    select {
        border-radius: 1rem;
    }
}

.searchbar__search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--spacing-xs); 
}

.searchbar__tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--spacing-xs); 
}



.searchbar__input-slider{
    width: 17.5rem;
    display: flex;
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-sm);
    gap: var(--spacing-xs);
    justify-content: space-between;

    .slider-button{
        display: flex;
        align-items: center;

        margin: -1px;
        background-color: var(--color-secondary);
        color: var(--color-primary);
        font-size: var(--font-sm);
        height: calc(100% + 2px);
        padding: var(--spacing-xxs);
        border: 1px solid var(--color-primary);
        border-radius: var(--radius-lg);
        user-select: none;

        transition: color ease 300ms, background-color ease 300ms;

        
    }


    input, input:focus-visible {
        width: 100%;
        margin-left: var(--spacing-xs);

        outline: none;
        border: none;
        border-radius: var(--radius-lg);
        font-size: var(--font-md);

        transition: opacity 300ms ease;
        
    }

}

.tag {
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    cursor: pointer;

    background-color: var(--color-secondary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    
    font-size: var(--font-sm);

    border: 1px solid;
    border-radius: var(--radius-sm);
    padding: var(--spacing-xxs);    
}

.tag--inverted {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;

}



/* ^ Accordion */

.accordion {
    width: 100%;
    border-bottom: 1px solid var(--color-primary);
}

    /* ^  Accordion Table Rows */

    .accordion-container{
        width: 100%;
        padding: var(--spacing-xs);
        display: grid;
        grid-template-columns:3% 10% 22% 40% 3% 22%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;

        font-size: var(--font-md);
    }


        .accordion-container__date{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .accordion-container__downloads{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            gap: var(--spacing-xs);
        }

    .accordion:hover .accordion-content {
        height: var(--contentMaxHeight);
        /* height: auto; */
    }

    /* ^ Accordion Inner Content -> opens with Hover */

    .accordion-content {
        /* height: auto; */
        height: 0;
        overflow: hidden;

        /* Layout */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: 750ms all ease;
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);

    }

        /* ^ Accordion Thesis Information*/
        .accordion-content__thesis {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: var(--spacing-xs);
        }

            .accordion-content__thesis__title { 
                width: 100%;
                padding-top: var(--spacing-xs);
                padding-bottom: var(--spacing-xs);
                font-size: var(--font-lg);  
            }

            .accordion-content__thesis-info { 
                width: calc((100% * 1/3) - var(--spacing-xs));
                height: var(--contentMaxHeightInner);
            }

            .accordion-content__thesis-info__subtitle, 
            .accordion-content__thesis-info__published, 
            .accordion-content__thesis-info__advisors{
            padding-bottom: var(--spacing-md);
            }

            .accordion-content__thesis-info__topics > h5{
                padding-bottom: var(--spacing-xxs);
            }    

            .accordion-content__thesis-info__topics__tags{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--spacing-xxs);
            
                li{
                    font-size: var(--font-sm);
                    text-transform: none;
                }

            
            }


            .accordion-content__thesis-abstract {
                width: min-content;
                min-width: calc((100%* 1 / 3) - var(--spacing-xs));
                height: var(--contentMaxHeightInner);
                display: flex;
                column-gap: var(--spacing-xs);
                flex-wrap: wrap;
                flex-direction: column;
            } 
  


        /* ^ Accordion Graduate CV */

        .accordion-content__cv {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: flex-start;
            gap: var(--spacing-xs);

        }

            .accordion-content__cv__graduate{
                text-align: right;
                width: 100%;
                padding-bottom: var(--spacing-xs);
                font-size: var(--font-lg);
                padding-top: var(--spacing-xs);
            }
            
            .accordion-content_cv-info{
                width: calc((100% * 1/3) - var(--spacing-xs));
                height: var(--contentMaxHeightInner);
                text-align: right;
                order: 1;
            }

                .accordion-content__cv-info__degrees,
                .accordion-content__cv-info__classes, 
                .accordion-content__cv-info__projects{
                    padding-bottom: var(--spacing-md);    
                } 

            .accordion-content__cv__bio {
                width: min-content;
                min-width: calc((100%* 1 / 3) - var(--spacing-xs));
                height: var(--contentMaxHeightInner);

                display: flex;
                column-gap: var(--spacing-xs);
                flex-wrap: wrap;
                flex-direction: column;
            }

        /* ^ Accordion Links */

        .accordion-content__links{
            grid-area: 2 / 1 / 3 / 3;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: fit-content;
            padding-bottom: var(--spacing-xs);

            a, h3{
                font-size: var(--font-lg);
    
                text-decoration: underline;
                text-transform: uppercase;
            }
        }