# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html
/site/sessions

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea
/.DS_Store
/.editorconfig

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache


# Accounts
# ---------------

/site/accounts/

# Sessions
# ---------------

/site/sessions

# License
# ---------------
/site/config/.license

# ----------CONTENT----------
# Don't put this stuff on GIT
# ----------CONTENT----------

/media
/content

# ----------SYSTEM----------
# Don't put this stuff on GIT
# ----------SYSTEM----------

/kirby